.box{
    background-color: #ffff;
    margin: 1em;
    -webkit-box-shadow: 13px 11px 3px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 11px 3px -8px rgba(0,0,0,0.75);
    box-shadow: 13px 11px 3px -8px rgba(0,0,0,0.75);
}

.containerBox{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}