.box{
    border-radius: 16px;
 
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);


    margin: 1em;
    
    
}


.tittle{
    padding: 0.3rem;
    text-transform: capitalize;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    border-bottom: 0.04em solid #D8D8D8;
   
    
}





.boxprogress_container{
    margin: 0;
    padding: 0.5em;
    overflow-y: scroll;
    height: 20vh;

}

.boxItem{
    border-radius: 4px;
    background: #ffffff;
    box-shadow: inset 1px 2px 1px #cfcfcf, 
                inset -5px -5px 3px #ffffff;
    margin: 0.4em;
    height: 20%;
    
    display: grid;
    grid-template-columns: 4fr 1fr ;
    width: 100%;


    


}

.boxItem input{
  
    border-radius: 4px;
    background: #ffffff;
    box-shadow: inset 1px 2px 1px #cfcfcf, 
                inset -5px -5px 3px #ffffff;
  
    text-align: center;
    font-family: inherit;

    width: 80%;
    border: 0;
    margin: 0;
    padding: 0.3em;
   
}
